venv/
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# test files
test_api.py

# Ignore Jupyter Notebook files
*.ipynb
convert_to_json.ipynb

# Ignore CSV files
icd_9_cm_vol3.csv